@import './base.scss';
html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
}
body{
	  font-family: "Helvetica Neue", 'Helvetica', "Microsoft YaHei", '微软雅黑', arial, sans-serif;
	  overflow-x:hidden;
    font-size: 24px;
}
img {
  border: none;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

input, textarea {
  outline: none;
}
$viewW:640px;
.zmiti-main-ui{
  background: #ebebeb;
  @include pos(a);
  width:640px;
  height: 100%;

  .zmiti-date{
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
    span{
      color:#fff;
      line-height: 40px;
      background: #ccc;
      padding: 8px 20px;
      font-size: 24px;
      @include br(5px);
    }
  }
  
  .zmiti-member{
    width:$viewW - 70;
    margin: 25px auto;
    background: #ccc;
    @include br(5px);
    color:#fff;
    padding: 14px 20px;
    line-height: 32px;
    box-sizing:border-box;
  }
}

.zmiti-talk-C{
  width:$viewW - 70;
  margin:25px auto;
  li{
    @include displayBox(horizontal);
    -webkit-box-pack:start;
    -webkit-box-align:start;
    margin:10px 0;
    .zmiti-talk-content{
      margin-left: 10px;
      aside:last-of-type{
        background:#fff;
        padding:8px 5px;
        line-height: 40px;
        @include pos(r);
        &:before{
          content:'';
          @include pos(a);
          left:0;
        }
      }
    }
  }
  .zmiti-talk-head{
    width:64px;
  }
}