@charset "UTF-8";
/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

html, body {
  height: 100%; }

body {
  font-family: "Helvetica Neue", 'Helvetica', "Microsoft YaHei", '微软雅黑', arial, sans-serif;
  overflow-x: hidden;
  font-size: 24px; }

img {
  border: none;
  vertical-align: middle;
  width: 100%;
  height: auto; }

input, textarea {
  outline: none; }

.zmiti-main-ui {
  background: #ebebeb;
  position: absolute;
  width: 640px;
  height: 100vh;
  left: 50%;
  margin-left: -320px; }
  .zmiti-main-ui .zmiti-scroll-C {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden; }
    .zmiti-main-ui .zmiti-scroll-C .zmiti-scroller {
      -webkit-transition: 0.2s;
      transition: 0.2s; }
  .zmiti-main-ui .zmiti-date {
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 20px; }
    .zmiti-main-ui .zmiti-date span {
      color: #fff;
      line-height: 40px;
      background: #ccc;
      padding: 8px 20px;
      font-size: 24px;
      border-radius: 5px; }
  .zmiti-main-ui .zmiti-member {
    width: 570px;
    margin: 25px auto;
    background: #ccc;
    border-radius: 5px;
    color: #fff;
    padding: 14px 20px;
    line-height: 32px;
    box-sizing: border-box;
    font-size: 22px;
    position: relative;
    -webkit-text-size-adjust: none; }
    .zmiti-main-ui .zmiti-member div {
      height: 100%;
      width: 100%; }

.zmiti-modify-groupname {
  width: 570px;
  margin: 20px auto;
  text-align: center;
  background: #ccc;
  color: #fff;
  padding: 6px 0;
  border-radius: 5px; }

.zmiti-talk-C {
  width: 570px;
  margin: 25px auto; }
  .zmiti-talk-C li {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-box-align: start;
    margin-top: 30px; }
    .zmiti-talk-C li .wxchat-audia {
      background: #fff;
      height: 62px;
      width: 200px;
      border-radius: 5px; }
      .zmiti-talk-C li .wxchat-audia img {
        margin: 14px;
        width: 30px; }
      .zmiti-talk-C li .wxchat-audia:after {
        display: none; }
      .zmiti-talk-C li .wxchat-audia:before {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        background-color: inherit;
        left: -6px;
        top: 16px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
    .zmiti-talk-C li .wxchat-video video {
      position: absolute;
      opacity: 0;
      z-index: -1;
      width: 100vw;
      height: 56vw;
      left: -800px; }
      .zmiti-talk-C li .wxchat-video video.active {
        left: 0;
        top: 0;
        opacity: 0; }
    .zmiti-talk-C li.zmiti-user {
      -webkit-box-pack: end; }
      .zmiti-talk-C li.zmiti-user .wxchat-audia {
        background: #a7e753;
        text-align: right;
        width: 200px; }
        .zmiti-talk-C li.zmiti-user .wxchat-audia img {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }
        .zmiti-talk-C li.zmiti-user .wxchat-audia:after {
          display: none; }
        .zmiti-talk-C li.zmiti-user .wxchat-audia:before {
          content: '';
          position: absolute;
          width: 12px;
          height: 12px;
          background-color: inherit;
          right: -6px;
          left: auto;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
      .zmiti-talk-C li.zmiti-user .zmiti-talk-content {
        margin-right: 24px;
        display: inline-block; }
        .zmiti-talk-C li.zmiti-user .zmiti-talk-content.zmiti-talk-img aside:last-of-type:before {
          display: none; }
        .zmiti-talk-C li.zmiti-user .zmiti-talk-content.zmiti-talk-img aside:last-of-type div {
          background: transparent;
          border: none;
          padding: 0; }
        .zmiti-talk-C li.zmiti-user .zmiti-talk-content aside:last-of-type {
          position: relative; }
          .zmiti-talk-C li.zmiti-user .zmiti-talk-content aside:last-of-type div {
            background: #a7e753; }
          .zmiti-talk-C li.zmiti-user .zmiti-talk-content aside:last-of-type:before {
            content: '';
            right: -11px;
            left: auto;
            background: #a7e753;
            border-left: none;
            border-bottom: none; }
    .zmiti-talk-C li .zmiti-talk-content {
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      -webkit-box-orient: vertical;
      -webkit-box-pack: start;
      -webkit-box-align: start;
      margin-left: 24px; }
      .zmiti-talk-C li .zmiti-talk-content.zmiti-talk-img aside:last-of-type:before {
        display: none; }
      .zmiti-talk-C li .zmiti-talk-content.zmiti-talk-img aside:last-of-type div {
        background: transparent;
        border: none;
        padding: 0; }
      .zmiti-talk-C li .zmiti-talk-content aside:last-of-type {
        max-width: 380px;
        box-sizing: border-box;
        position: relative; }
        .zmiti-talk-C li .zmiti-talk-content aside:last-of-type div {
          background: #fff;
          border: 1px solid #bbbbbb;
          font-size: 26px;
          border-radius: 8px;
          padding: 18px 14px; }
          .zmiti-talk-C li .zmiti-talk-content aside:last-of-type div a {
            color: inherit; }
        .zmiti-talk-C li .zmiti-talk-content aside:last-of-type:before {
          content: '';
          position: absolute;
          left: -11px;
          border-radius: 3px;
          width: 20px;
          height: 20px;
          background: #fff;
          border: 1px solid #bbb;
          border-right: none;
          border-top: none;
          top: 20px;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
  .zmiti-talk-C .zmiti-talk-head {
    width: 72px;
    height: 72px; }
  .zmiti-talk-C .zmiti-linkobj-C {
    max-width: 380px;
    width: 380px;
    height: 140px;
    background-color: #fff !important;
    box-sizing: border-box;
    padding: 10px 20px !important;
    position: relative; }
    .zmiti-talk-C .zmiti-linkobj-C:before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      background: #fff;
      left: -5px;
      top: 8px; }
    .zmiti-talk-C .zmiti-linkobj-C.zmiti-linkobj-isMe:before {
      display: none; }
    .zmiti-talk-C .zmiti-linkobj-C.zmiti-linkobj-isMe:after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      background: #fff;
      right: -10px;
      top: 16px; }
    .zmiti-talk-C .zmiti-linkobj-C section:nth-of-type(1) {
      overflow: hidden;
      white-space: nowrap;
      word-break: break-all;
      text-overflow: ellipsis;
      -webkit-text-overflow: ellipsis; }
    .zmiti-talk-C .zmiti-linkobj-C section:nth-of-type(2) {
      font-size: 24px;
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
      -webkit-transform-origin: left;
      transform-origin: left;
      overflow: hidden;
      max-height: 38px;
      word-wrap: break-word;
      word-break: break-all;
      color: #999; }
    .zmiti-talk-C .zmiti-linkobj-C section:nth-of-type(3) {
      position: absolute;
      right: 10px;
      bottom: 10px;
      width: 60px;
      height: 60px;
      border-radius: 4px; }
  .zmiti-talk-C .zmiti-talk-content aside:first-of-type {
    color: #666666;
    -webkit-transform: scale(0.9) translate3d(0, -6px, 0);
    transform: scale(0.9) translate3d(0, -6px, 0);
    -webkit-transform-origin: left;
    transform-origin: left; }

.zmiti-talk-input {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -320px;
  height: 85px; }

.zmiti-frame {
  width: 640px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999; }
  .zmiti-frame iframe {
    width: 640px;
    height: 100%;
    position: fixed;
    left: 50%;
    margin-left: -320px;
    top: 0;
    background-color: #fff; }
  .zmiti-frame .zmiti-back {
    position: fixed;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 12px 26px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }

/*# sourceMappingURL=index.css.map */